@CHARSET "UTF-8";
#pager ul.pages { 
display:block; 
border:none; 
text-transform:uppercase; 
font-size:10px; 
margin:10px 0 50px; 
padding:0; 
} 
#pager ul.pages li { 
list-style:none; 
float:left; 
border:1px solid #ccc; 
text-decoration:none; 
margin:0 5px 0 0; 
padding:5px; 
} 
#pager ul.pages li:hover { 
border:1px solid #428bca; 
} 
#pager ul.pages li.pgEmpty { 
border:1px solid #428bca; 
color:#eee; 
} 
#pager ul.pages li.pgCurrent { 
border:1px solid #428bca; 
color:#000; 
font-weight:700; 
background-color:#428bca; 
} 